html {
  --lumo-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  --lumo-primary-contrast-color: #9C9B9B;
  --lumo-primary-text-color: rgb(29, 29, 27);
  --lumo-primary-color-50pct: rgba(166, 0, 76, 0.5);
  --lumo-primary-color-10pct: rgba(166, 0, 76, 0.1);
  --lumo-primary-color: #A6004C;
  --lumo-shade-5pct: rgba(0, 0, 0, 0.05);
  --lumo-shade-10pct: rgba(0, 0, 0, 0.1);
  --lumo-shade-20pct: rgba(0, 0, 0, 0.2);
  --lumo-shade-30pct: rgba(0, 0, 0, 0.3);
  --lumo-shade-40pct: rgba(0, 0, 0, 0.4);
  --lumo-shade-50pct: rgba(0, 0, 0, 0.5);
  --lumo-shade-60pct: rgba(0, 0, 0, 0.6);
  --lumo-shade-70pct: rgba(0, 0, 0, 0.7);
  --lumo-shade-80pct: rgba(0, 0, 0, 0.8);
  --lumo-shade-90pct: rgba(0, 0, 0, 0.9);
  --lumo-shade: #000000;
  --lumo-body-text-color: rgb(156,155,155);
  --lumo-header-text-color: #A6004C;
  --lumo-success-text-color: rgb(149, 196, 31);
  --lumo-success-color-50pct: rgba(149, 196, 31, 0.5);
  --lumo-success-color-10pct: rgba(149, 196, 31, 0.1);
  --lumo-success-color: rgb(149,196,31);
  --lumo-error-text-color: rgb(233, 81, 27);
  --lumo-error-color-50pct: rgba(233, 81, 27, 0.5);
  --lumo-error-color-10pct: rgba(233, 81, 27, 0.1);
  --lumo-error-color: rgb(233,81,27);
  --vaadin-overlay-viewport-bottom: auto;
  }

@media all and (max-width: 1100px) and (orientation: portrait) {
  .list-view.editing .toolbar,
  .list-view.editing .student-grid,
  .main-layout .progressbar {
    display: none;
  }
}

a[highlight] {
    font-weight: bold;
    color : #A6004C;
}
.validate-button {
    color: var(--lumo-success-color);
}
.resized-image{
    height : 200px;
    width : 200px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: var(--lumo-line-height-xs);
    margin-top: 0em;
    margin-bottom : 0em;
}
h3{
    color : var(--lumo-primary-text-color);
}
a:where(:any-link) {
    color: var(--lumo-primary-color);
}
p, blockquote {
    margin-top: 0px;
    margin-bottom: 0px;
}